@if (product) {
  <div class="detail-container">
    <div class="detail-layout">
      <div class="detail-image-box">
        <span class="img-placeholder">img</span>
      </div>

      <div class="detail-info-box">
        <h2 class="detail-title">{{ product.name }}</h2>

        <table class="meta-table">
          <tr>
            <td class="label">作者</td>
            <td>{{ product.author }}</td>
          </tr>
          <tr>
            <td class="label">公司</td>
            <td>{{ product.publisher }}</td>
          </tr>
          <tr>
            <td class="label">價格</td>
            <td>
              <span class="price-val">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</span>
              @if (product.originPrice) {
                <span class="badge-discount">特價</span>
              }
            </td>
          </tr>
        </table>

        <div class="action-row">
          <button routerLink="/products" class="btn-back">返回</button>
          <button (click)="onAddToCart()" class="btn-submit-cart">加入購物車</button>
        </div>
      </div>
    </div>
  </div>
}